body {
    margin: 0;
    font-family: Arial;
    background: linear-gradient(to right, #2e7d32, #66bb6a);
    color: white;
}

.home-container {
    text-align: center;
    margin-top: 150px;
}

h1 {
    font-size: 40px;
}

.buttons {
    margin-top: 40px;
}

.btn {
    display: inline-block;
    padding: 12px 30px;
    margin: 10px;
    background: white;
    color: green;
    text-decoration: none;
    font-weight: bold;
    border-radius: 6px;
}

.btn:hover {
    background: darkgreen;
    color: white;
}