body {
    margin: 0;
    font-family: Arial;
    background: linear-gradient(to right, #2e7d32, #66bb6a);
    color: white;
}

.home-container {
    text-align: center;
    margin-top: 150px;
}

h1 {
    font-size: 40px;
}

.buttons {
    margin-top: 40px;
}

.btn {
    display: inline-block;
    padding: 12px 30px;
    margin: 10px;
    background: white;
    color: green;
    text-decoration: none;
    font-weight: bold;
    border-radius: 6px;
}

.btn:hover {
    background: darkgreen;
    color: white;
}
body{
font-family: Arial;
background:#f4f6f9;
margin:0;
padding:0;
}

.dashboard-container{
text-align:center;
padding:40px;
}

.card-container{
display:flex;
justify-content:center;
gap:30px;
margin-top:40px;
flex-wrap:wrap;
}

.card{
background:white;
padding:25px;
width:250px;
border-radius:10px;
box-shadow:0 0 10px rgba(0,0,0,0.1);
transition:0.3s;
}

.card:hover{
transform:scale(1.05);
}

.card h3{
margin-bottom:10px;
}

.card p{
font-size:14px;
color:#555;
}

.btn{
display:inline-block;
margin-top:15px;
padding:10px 20px;
background:green;
color:white;
text-decoration:none;
border-radius:5px;
}

.btn:hover{
background:darkgreen;
}

.logout{
background:red;
}

.logout:hover{
background:darkred;
}